# Add any directories, files, or patterns you don't want to be tracked by version control
.DS_Store
.tm_properties
dist/macos/ruby-app/UniversalRuby
dist/macos/ruby-app/LD45.app
dist/macos/ruby-app/Wrapper.app
dist/win32/LD45
dist/win32/*.zip
dist/macos/*.zip
dist/macos/LD45.app
dist/*/build
dist/releases
scratch/
settings.yml
